/* General */

body {
    max-width: 750px;
    background-color: #f3f3f0;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
  }

/* #region Navigation */

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
}
nav ul>li {
        display: inline;
        font-size: 1.5em;
        padding: 5px;
}
#navLogo {
    width: 125px;
}
nav a {
    margin-left: 45px;
    transition: font-size 1s;
    text-decoration: none;
}
nav a:visited {
    color: rgb(104, 9, 9);
}
nav a:hover {
    color: rgb(17, 17, 128);
    font-size:1.15em;
}
#navLogo {
    position: relative;
}
#slogan {
    position: absolute;
    top: 95px;
    left: 25px;
}


/* #endregion */

/* #region Home */

#home {
    height: 100vh;
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: 22% 68% 10%;
    grid-template-areas:
    ". . ."
    "pic summary summary"
    ". . button";

}
#profilepic {
    height: 175px;
    border-radius: 50%;
    border: 4px solid black;
    margin-top: 25%;
    grid-area: pic;
}
#summarytext {
    grid-area: summary;
    padding-top: 75px;
    padding-left: 25px;
}
#calltoaction {
    grid-area: button;
    height: 35px;
    width: 150px;
}

/* #endregion */

/* #region Featured */

#featured {
    height: 100vh;
    padding-top: 250px; /* used to clear the navbar*/
    scroll-behavior: smooth;
}
#featured h1 {
    text-align: center;
}
.leftside {
    margin-left: 40%;
}
.featuredwork {
    display: grid;
    grid-template-areas: 
    ". h h ."
    "i i p p"
    "i i t t";
    position: relative;
}
.featuredwrapper {
    display: none;
}
.featuredimg {
    grid-area: i;
    width: 475px;
    height: 475px;
}
.projectHeading {
    grid-area: h;
}
.projectInfo {
    grid-area: p;
    margin-left: 15px;
}
.projectTools {
    grid-area: t;
    display: flex; 
    position: absolute;
    bottom: -15px;  
}
.toolItem {
    display: inline;
    padding: 5px;
}

/* #endregion */

/* #region About */

#about {
    height: 100vh;
    padding-top: 150px; /* used to clear the navbar*/
    scroll-behavior: smooth;
}


/* #endregion */

/* #region Contact */

#contact {
    height: 100vh;
    padding-top: 150px; /* used to clear the navbar*/
    scroll-behavior: smooth;
}
[data-field] {
    display: none;
}
#formMessage {
    display: none;
}
.error {
    display: inline;
    color: rgb(102, 43, 19);
}
/* #endregion */